<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>toBeDelete.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>uKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>uKeyboard1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DFFF4151DF06E5800670F2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DFFF4291DF06E5900670F2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DFFF4341DF06E5900670F2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DFFF44A1DF06EB900670F2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BB1E5051E200D8400FA40D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
